extends ../layout

block content
	.container
		.row
			.col-md-5
				h3 注册页面
				form(method='POST',action='/user/signup')
					.form-group
						label(for='signupName') 用户名
						input#signupName.form-control(name='user[name]',type='text')
					.form-group
						label(for='signupPassword') 密码
						input#signupPassword.form-control(name='user[password]',type='password')
					.form-group
						button.btn.btn-block.btn-lg.btn-success(type='submit') 注册